#main > #banner {
    padding: 10px;
    height: 30px;
    width: 100%;
    background-color: #212121;
    z-index: 10;
    position: fixed;
}

#main > #banner+*{
    margin-top: 50px;
}

#main > #banner > span {
    font-family: Consolas, monospace;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

#main > #banner > #user {
    float: right;
}

#main > #banner > #user > .banner-menu-dropdown {
    display: inline-block;
    position: relative;
}

#main > #banner > #user > .banner-menu-dropdown > .banner-dropdown {
    position: absolute;
    background-color: white;
    padding: 5px;
    right: 0;
    visibility: hidden;
    box-shadow: 0 1px 10px -3px;
}

#main > #banner > #user > .banner-menu-dropdown > .banner-dropdown.show {
    visibility: visible;
}

#main > #banner > #user > .banner-menu-dropdown > .banner-dropdown > button {
    color: #212121;
    font-size: 15px;
    border: 1px solid transparent;
    padding: 5px 15px;
}

#main > #banner > #user > .banner-menu-dropdown > .banner-dropdown > button:hover {
    background-color: #212121;
    color: white;
}

#main > #banner > #user button {
    background-color: transparent;
    color: white;
    font-size: 25px;
    padding: 0 5px;
}

#main > #banner > #user button:last-child {
    padding-right: 20px;
}
